@import 'Theme.scss';

.leftWeatherData{

img{
    filter: var(--filter-color);
    width: max(40%, 85px);
    // outline: 2px solid red;
    margin: 30px 0px 15px 0px;
}

}

.rigthWeatherData{

    img{
        filter: var(--filter-color);
        height: 60px;
        width: auto;
    }
}

.cityInputContainer{
    img{
    filter: var(--filter-color);
    height: 40px;
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    
}
.gps{
    margin-left: -10px;
}

.hourlyWeatherElement{
    
img{
    height: 140px;
    filter: var(--filter-color);
 }
}


@media (max-width: 600px) {

    .leftWeatherData{

        img{
            width: 100px;
        }
        
        }

    .rigthWeatherData{

        img{
            height: 70px;
            width: auto;
        }
    }

}