$sunny_clear_background: rgb(94,163,212);
$sunny-clear_gradient:linear-gradient(180deg, rgba(94,163,212,1) 35%, rgba(62,144,204,1) 70%, rgba(51,134,193,1) 100%);
$sunny-clear_color: #EFF6FB;
$day-filter: (invert(85%) sepia(5%) saturate(559%) hue-rotate(156deg) brightness(108%) contrast(99%));