@use 'Theme';

body, html{
    height: 100%;
    width: 100%;
    
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.mainContainer{
    display: grid;
    grid-template-rows:12fr 1fr 8fr;
    height: 100%;
    width: 100%;
    color: Theme.$sunny-clear_color ;
    background: Theme.$sunny_clear_background;
    background: Theme.$sunny-clear_gradient;
}

.weatherDataContainer{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 9fr 8fr;
    justify-self: center;
    align-self: center;
    width: max(40%, 300px);
    height: 80%;
    background-color: rgba(10, 10, 25, 0.1);
    border-radius: 45px;
   
}

.leftWeatherData{
    grid-column: 1/2;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    // outline: 2px solid red;
    width: 100%;
    gap: 0px;

    h2{
        font-size: max(calc(30px + calc(1.3vw - 1rem)),21px);
        margin: 0px;
    }
}

.rigthWeatherData{
    grid-column: 2/3;
    // outline: 2px solid pink;
    height: 100%;
    padding: 20px 0px 20px 0px;

    
    ol{
        display: flex;
        flex-direction:column ;
        align-items: flex-start;
        justify-content: space-around;
        font-weight: 400;
        height: inherit;

        li{
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            font-size: max(calc(18px + calc(1.3vw - 1rem)),12px);
            // outline: 2px solid rebeccapurple;
            width: 100%;
        }
    }
}

.dataContainer{
    display: flex;
    flex-direction:row;
    gap: 8px;
    // outline: 2px solid greenyellow;
    margin-left: 15px;
}

@media (max-width: 600px) {
  body {
    margin: 8px;
  }
}


.hourlyWeather{
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    align-items: center;

    li{
        list-style: none;
    }
}

