@import 'Theme.scss';

body, html, :root{
    height: 100%;
    width: 100%;
    
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

.mainContainer{
    display: grid;
    grid-template-rows:12fr 2fr 8fr;
    height: 100%;
    width: 100%;
    color: var(--color) ;
    background: var(--background);
    background: var(--gradient);
}

.weatherDataContainer{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 10fr 8fr;
    justify-self: center;
    align-self: center;
    width: max(46%, 300px);
    height: 80%;
    background-color: rgba(8, 22, 23, 0.1);
    border-radius: 45px;
   
}

.leftWeatherData{
    grid-column: 1/2;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    // outline: 2px solid red;
    width: 100%;
    gap: 0px;

    h2{
        font-size: max(calc(25px + calc(1.3vw - 1rem)),21px);
        margin: 0px;
        text-align: center;
    }
}

.rigthWeatherData{
    grid-column: 2/3;
    // outline: 2px solid pink;
    height: 100%;
    padding: 20px 0px 20px 0px;

    
    ol{
        display: flex;
        flex-direction:column ;
        align-items: flex-start;
        justify-content: space-around;
        font-weight: 400;
        height: inherit;

        li{
            display: flex;
            flex-direction: row;
            list-style: none;
            align-items: center;
            font-size: max(calc(18px + calc(1.3vw - 1rem)),12px);
            // outline: 2px solid rebeccapurple;
            width: 100%;
        }
    }
}

.dataContainer{
    display: flex;
    flex-direction:row;
    gap: 8px;
    // outline: 2px solid greenyellow;
    margin-left: 15px;
}

@media (max-width: 600px) {
    .mainContainer{
        grid-template-rows:12fr 2fr 6fr;  
    }

    .weatherDataContainer{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        width: 85%;
        height: 70%;
        border-radius: 20px;
        padding: 20px 20px 20px 20px;
    }


    .leftWeatherData{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction:column ;
        align-items: center;
        justify-content: center;
    
        h2{
            font-size: 25px;
            margin-bottom: 15px;
        }
        h2:first-child{
            margin-bottom: -20px;
        }
    }
    
    .rigthWeatherData{
        grid-column: 1/2;
        grid-row: 2/3 ;
        overflow-x: scroll;
        padding-left: 10px;
        padding-right: 10px;
    
        
        ol{
            display: flex;
            flex-direction:row;
            align-items: center;
            gap: 30px;
            justify-content: flex-start;

            li{
                display: flex;
                flex-direction: column;
                font-size: 17px;
                width: 100px;
            }
        }
          ::-webkit-scrollbar-thumb {
            background: var(--color);
          }

        }

    .dataContainer{
        display: flex;
        flex-direction:column;
        gap: 2px;

        margin-left:0px;
        text-align: center;

        div{
            font-weight: 500;
        }
    }



}



